*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;

}

.clearfix::after{
  content: "";
  clear:both;
  display: table;

}

.topnav{
  background-color: #f5f8fa;
  border-bottom:  1px solid #cbd6e2;





}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

}

nav{
  height: 80px;
  width: 100%;
  background-color: #f5f8fa;
}

.navsx li{
  display: inline-block;
  list-style-type: none;
  float: left;
  line-height: 80px;
  padding-right: 20px;
}

.navdx {
  display: inline-block;
  float: right;
  line-height: 80px;

}

.fa-search{
  color: #00a4bd;
}

.navdx button{
  padding: 12px 10px;
  margin-left: 20px;
  border-radius: 4px;
}

.btn1{
  border: 1px solid #ff7a59;
  background-color: white;
  color: orange;
  font-size: 15px;
}

.btn2{
  border: 1px solid #ff7a59;
  background-color: #ff7a59;
  color: white;
  font-size: 15px;
}

.menu{
  background-color: #ffffff;

}

menu{
  height: 80px;
  width: 100%;
  background-color: white;

}

.logo{
  line-height: 80px;


}

.logo img{
  float: left;
  margin-top: 30px;


}

.menulist{
  line-height: 80px;
}

.menuctr{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

}

.menulist ul{
  display: inline-block;
  float: right;
  list-style-type: none;

}

.menulist ul li{
  float: left;
  padding: 10px;
  color: #33475b;


}

.banner{
  background-color: #fff3ee;
  background-image: url("https://www.hubspot.com/hubfs/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom: 4px solid #33475b;
  right: 0;
  bottom: 0;
  background-position: bottom;

}

.ctrbanner{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.jumbotron{
  height: 800px;
  width: 100%;
  /*background-color: #fff3ee;*/
  position: relative;

}

.jbtsx{
  height: 100%;
  width:50%;
  position: absolute;
}

.jbtsx h1{
  font-size: 50px;
  color: #33475b;
  margin-top: 50px;
}

.jbtsx p{
  font-size: 20px;
  color: #33475b;
  margin: 30px 0;
}

.jbtsx button{
  font-size: 25px;
  color: white;
  background-color: #ff7a59;
  padding: 25px 20px;
  border-radius: 4px;
}

.power{
  background-color: #f5f8fa;
}

.ctrpower{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.contenutopower{
  width: 100%;
  height: 400px;
  position: relative;
}

.contenutopower img{
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.contenutopower h3{
  text-align: center;
  font-size: 30px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}

.contenutopower p{
  text-align: center;
  font-size: 15px;
  position: absolute;
  top:60%;
  transform: translatey(-60%);
  margin: 30px auto;
}

.ctrfreehubspot{
  /*width: 80%;*/
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 3px;

}

.contenutohubspot{
  width: 100%;
  height: 300px;
}

.contenutohubspot .sx{
  width: 40%;
  height: 300px;
  float: left;
  position: relative;
}

.contenutohubspot .sx img{
  left:50%;
  width: 200px;
  display: inline-block;
  position: absolute;
  transform: translate(-50%);
  margin-top: 50px;

}

.contenutohubspot .sx button{
 left:50%;
 top: 60%;
 position: absolute;
 transform: translate(-50%, -60%);
 background-color: #ff7a59;
 color: white;
 font-size: 15px;
 padding: 15px 30px;
 border-radius: 3px;
 margin-top: 80px;
}

.contenutohubspot .dx{
  width: 60%;
  height: 300px;
  float: left;
  position: relative;
}

.contenutohubspot .dx h3{
  font-size: 25px;
  margin: 50px 0;

}

.contenutohubspot .dx p{
  margin: 40px 0;
}

.contenutohubspot .dx h5{
  font-size: 18px;
  margin-bottom: 20px;
}

.contenutohubspot .dx h5 hr{
  display: inline-block;
  width: 400px;
  margin: 5px 50px;
}

.listpop ul li{
  list-style-type: none;
  display: inline;
  margin-right: 50px;

}

.listpop ul li i{
  color: #ff7a59;
  margin-right: 15px;
}

.cards{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.contenutocards{
  width: 100%;
  height: 800px;
  /*border: 1px solid black;*/

}

.card1, .card2, .card3{
  width: 30%;
  float:left;
  position: relative;
  background-color: white;
  border-radius: 5px;
  margin-top: 50px;

}

.card2{
  margin-left:5%;
  margin-right: 5%;
}

.contenutocard{
  text-align: center;

}

.contenutocard img{
  height: 150px;
  width: auto;
  margin: 20px auto;
}



.contenutocard h3{
  font-size: 30px;
  margin-bottom: 20px;
}
.contenutocard p{
  font-size: 15px;
  margin-bottom: 60px;
  padding: 0 5px;
}

.contenutocard hr{
  width: 300px;
  margin: 20px auto;
}

.contenutocard h5{
  font-size: 18px;
  margin: 20px auto;
  text-align: center;
}

.listcard .ulcard{
  list-style-type: none;

}
.ulcard li{
  text-align: left;
  margin-left: 40px;
}

.ulcard li i{
  color: #ff7a59;

}

.contenutocard button{
  font-size: 15px;
  background-color: #ff7a59;
  padding: 20px 35px;
  margin-top: 30px;
  border-radius: 4px;
  color: white;
  margin-bottom: 20px;
}

.contenutocard2{
  text-align: center;

}

.contenutocard2 img{
  height: 150px;
  width: auto;

  margin: 20px auto;
}



.contenutocard2 h3{
  font-size: 30px;
  margin-bottom: 20px;
}
.contenutocard2 p{
  font-size: 15px;
  margin-bottom: 60px;
}

.contenutocard2 hr{
  width: 300px;
  margin: 20px auto;
}

.contenutocard2 h5{
  font-size: 18px;
  margin: 20px auto;
  text-align: center;
}

.listcard .ulcard{
  list-style-type: none;

}
.ulcard li{
  text-align: left;
  margin-left: 40px;
}

.ulcard li i{
  color: #ff7a59;

}

.contenutocard2 button{
  font-size: 15px;
  background-color: #ff7a59;
  padding: 20px 35px;
  margin-top: 30px;
  border-radius: 4px;
  color: white;
  margin-bottom: 20px;
}

.contenutocard3{
  text-align: center;

}

.contenutocard3 img{
  height: 150px;
  width: auto;

  margin: 20px auto;
}



.contenutocard3 h3{
  font-size: 30px;
  margin-bottom: 20px;
}
.contenutocard3 p{
  font-size: 15px;
  margin-bottom: 60px;
}

.contenutocard3 hr{
  width: 300px;
  margin: 20px auto;
}

.contenutocard3 h5{
  font-size: 18px;
  margin: 20px auto;
  text-align: center;
}

.listcard .ulcard{
  list-style-type: none;

}
.ulcard li{
  text-align: left;
  margin-left: 40px;
}

.ulcard li i{
  color: #ff7a59;

}

.contenutocard3 button{
  font-size: 15px;
  background-color: #ff7a59;
  padding: 20px 35px;
  margin-top: 30px;
  border-radius: 4px;
  color: white;
  margin-bottom: 20px;
}

.bannerblu{
  /*background-color: #00b4ae;*/
  /*background-image: linear-gradient(to bottom right, #00b4ae, blue );*/
  background-image: -webkit-linear-gradient(45deg, #00a4bd, #00bda5);
}

.ctrbannerblu{
  height: 650px;
  width: 80%;
  max-width: 1200px;
  /*border: 1px solid black;*/
  margin: 0 auto;

}

.sez1{
  text-align: center;
  }

.sez1 h5{
  color: white;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

.sez1 p{
  color:white;
  font-size: 14px;
  margin: 0 40px;
}

.griglia1{
  margin-top: 30px;
  width: 100%;
  height: 200px;
  /*border: 1px solid black;*/
}

.square1, .square2, .square3, .square4{
  width: 25%;
  height: 200px;
  float: left;
  /*border: 1px solid black;*/

}
.square1{
  text-align: center;
  position: relative;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.square1 .logo {
  display: inline-block;

}

.square1 div h2{
  font-size: 30px;
  color: white;
  margin: 10px auto;
}

.square1 p{
  color: white;

}

.fa-plus{
  font-size: 10px;
}

.square2{
  text-align: center;
  position: relative;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.square2 .logo {
  display: inline-block;

}

.square2 div h2{
  font-size: 30px;
  color: white;
  margin: 10px auto;
}

.square2 p{
  color: white;

}

.square3{
  text-align: center;
  position: relative;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.square3 .logo {
  display: inline-block;

}

.square3 div h2{
  font-size: 30px;
  color: white;
  margin: 10px auto;
}

.square3 p{
  color: white;

}

.square4{
  text-align: center;
  position: relative;
  border-bottom: 1px solid white;
}

.square4 .logo {
  display: inline-block;

}

.square4 div h2{
  font-size: 30px;
  color: white;
  margin: 10px auto;
}

.square4 p{
  color: white;

}

.griglia2{
  width: 100%;
  height: 200px;
  /*border: 1px solid black;*/
}

.square5, .square6, .square7, .square8{
  width: 25%;
  height: 200px;
  float: left;
  /*border: 1px solid black;*/

}

.square5{
  text-align: center;
  position: relative;
  border-right: 1px solid white;
}

.square5 .logo {
  display: inline-block;

}

.square5 div h2{
  font-size: 30px;
  color: white;
  margin: 10px auto;
}

.square5 p{
  color: white;

}

.square6{
  text-align: center;
  position: relative;
  border-right: 1px solid white;

}

.square6 .logo {
  display: inline-block;

}

.square6 div h2{
  font-size: 30px;
  color: white;
  margin: 10px auto;
}

.square6 p{
  color: white;

}

.square7{
  text-align: center;
  position: relative;
  border-right: 1px solid white;

}

.square7 .logo {
  display: inline-block;

}

.square7 div h2{
  font-size: 30px;
  color: white;
  margin: 10px auto;
}

.square7 p{
  color: white;

}

.square8{
  text-align: center;
  position: relative;
}

.square8 .logo {
  display: inline-block;

}

.square8 div h2{
  font-size: 30px;
  color: white;
  margin: 10px auto;
}

.square8 p{
  color: white;

}

.ultima_scatola{
  background-color: white;


}

.box_1{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

}

.box_sx{
  /*border: 1px solid black;*/
  float: left;
  width: 40%;
  height: 400px;
  text-align: center;
  position: relative;

}

.numero{
  position: absolute;
  top: 30%;
  color: #33475b;
}

.numero h1{
  font-size: 50px;
}

.numero p{
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  line-height: 30px;
}

.box_dx{
  /*border: 1px solid black;*/
  float: left;
  width: 60%;
  height: 350px;
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.atlassian{
  /*border: 1px solid black;*/
  float: left;
  width: 25%;
  height: 100%;
}

.doordash{
  /*border: 1px solid black;*/
  float: left;
  width: 25%;
  height: 100%;
}

.crowd{
  /*border: 1px solid black;*/
  float: left;
  width: 25%;
  height: 100%;
}

.purple{
  /*border: 1px solid black;*/
  float: left;
  width: 25%;
  height: 100%;
}

.atlassian .atla{
  height: 20px;
  width: 150px;
  margin-bottom: 50px;
  margin-top: 100px;
}
.atlassian .sub{
  height: 50px;
  width: 150px;
}
.doordash .door{
  height: 20px;
  width: 150px;
  margin-bottom: 55px;
  margin-top: 100px;
}
.doordash .wist{
  height: 25px;
  width: 150px;
}
.crowd .g2{
  height: 30px;
  width: 135px;
  margin-bottom: 32px;
  margin-top: 97px;
}
.crowd .classp{
  height: 60px;
  width: 150px;
}
.purple .pur{
  height: 30px;
  width: 100px;
  margin-bottom: 50px;
  margin-top: 97px;
}
.purple .vmw{
  height: 25px;
  width: 110px;
}


.box_2{
  width: 80%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;

}
.box_sx2{
  width: 50%;
  float: left;
  height: 400px;
  position: relative;

}
.box_sx2 h2{
  color: #33475b;
  font-size: 35px;
  margin-bottom: 30px;

}
.box_sx2 p{
  color: #33475b;
  font-size: 15px;
  margin-bottom: 30px;
}

.box_sx2 button{
  font-size: 15px;
  background-color: #ff7a59;
  padding: 20px 35px;
  margin-top: 30px;
  border-radius: 4px;
  color: white;
  margin-bottom: 30px;
}

.box_dx2{
  width: 50%;
  float: left;
  height: 400px;
  position: relative;
  text-align: right;
}

.box_dx2 img{
  width: 300px;
}

footer{
  background-color: #33475b;

}

.ctrfoot{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;


}

.ctrfoot .box1{
  float: left;
  width: 100%;
  height: 400px;
  position: relative;
  /*border: 1px solid black;*/
}

.increase{
  height: 100%;
  width: 25%;
  /*border: 1px solid black;*/
  float: left;
}

.increase h3, .inc{
  color: white;
}

.increase .inc li{
  list-style-type: none;
  margin: 20px 0;
  font-size: 10px;

}

.increase h3{
  margin: 30px 0;
  font-size: 15px;
}

.increase .inc li button{
  background-color: white;
  color: #33475b;
  padding: 15px 15px;
  border-radius: 3px;
  font-size: 15px;

}

.increase .inc li ul li{
  list-style-type: none;
  float: left;
}

.increase .inc li ul li i{
  font-size: 20px;
  float: left;
  padding: 10px;


}

.ctrfoot .box2{
  float: left;
  width: 100%;
  height: 40px;
  position: relative;

}

.listabox2{
  border-bottom: 1px solid white;
  text-align: center;
}

.listabox2 ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 10px;

}

.ctrfoot .box3{
  float: left;
  width: 50%;
  height: 100px;

}

.ctrfoot .box3 p{
  color: white;
  font-size: 10px;

}

.ctrfoot .box3 .ultimologo{
  padding-top: 20px;
  padding-bottom: 10px;
}

.ctrfoot .box4{
  float: left;
  width: 50%;
  height: 100px;
  text-align: right;
}

.ctrfoot .box4 ul{
  list-style-type: none;
  margin-top: 20px;
}

.ctrfoot .box4 ul li{
  display: inline;
  color: white;
  font-size: 15px;
  padding: 10px;

}
